RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]


IndexOptions FancyIndexing VersionSort HTMLTable NameWidth=* SuppressHTMLPreamble
IndexOptions FoldersFirst IconWidth=22 IconHeight=22 Charset=UTF-8 XHTML
IndexOptions SuppressDescription SuppressColumnSorting IgnoreCase IconsAreLinks
IndexOptions SuppressRules

HeaderName /includes/cabecalho.html
ReadmeName /includes/rodape.html

